# Dependencias
node_modules/


# Variables sensibles
.env


# macOS
.DS_Store
._*
.AppleDouble


# Windows
Thumbs.db
ehthumbs.db
Desktop.ini


# VSCode
.vscode/


# Logs
*.log


# Bases de datos locales
*.sqlite
*.db


# Entorno virtual Python
.venv/